# **Python Lists**



* A list is a collection of data items of different data types (such as int, float, string, etc.). A array can store only homogeneous elements.
* A list is indexed from 0.

In [145]:
#Few Examples...
print(['Orange','Lemon','Watermelon','Apple'])
print([])
print(['Windows',250,0.28,['OS','Microsoft']])

['Orange', 'Lemon', 'Watermelon', 'Apple']
[]
['Windows', 250, 0.28, ['OS', 'Microsoft']]

In [146]:
#List Indexing
zoo=['Tiger','Lion','Deer','Elephant']
print(zoo[3])
print(zoo[1])
print(zoo)

Elephant
Lion
['Tiger', 'Lion', 'Deer', 'Elephant']

In [ ]:
#Create a list
animals=[]
dogs=["Doberman"]
print("Animals:",animals)
print("Dogs:",dogs)

Animals: []
Dogs: ['Doberman']

In [ ]:
#Add an element to the end of the list
animals.append("Elephant")
print("Animals:",animals)

dogs.append("Akita")
print("Dogs:",dogs)

Animals: ['Elephant']
Dogs: ['Doberman', 'Akita']

In [ ]:
#Adding some more elements
for i in range(4):
  animals.append(input("Enter animal:"))

Enter animal:Lion
Enter animal:Dog
Enter animal:Deer
Enter animal:Cat

In [ ]:
#Adding some more elements
for i in range(2):
  dogs.append(input("Enter dog breed:"))

Enter dog breed:Corgi
Enter dog breed:Tibetan Mastiff

In [ ]:
#Lists content so far...
print("Animals:",animals)
print("Dogs:",dogs)

Animals: ['Elephant', 'Lion', 'Dog', 'Deer', 'Cat']
Dogs: ['Doberman', 'Akita', 'Corgi', 'Tibetan Mastiff']

In [ ]:
#Number of elements in the list
print("Animals Size:",len(animals))
print("Dogs Size:",len(dogs))

Animals Size: 5
Dogs Size: 4

In [ ]:
#Remove last element - pop()
print("Animals Content Before:",animals)
print("Element Removed from Animals:",animals.pop())
print("Animals Content After:",animals)

Animals Content Before: ['Elephant', 'Lion', 'Dog', 'Deer', 'Cat']
Element Removed from Animals: Cat
Animals Content After: ['Elephant', 'Lion', 'Dog', 'Deer']

In [ ]:
#Remove element at index i - pop(i)
print("Dogs Content Before:",dogs)
print("Element Removed from Dogs:",dogs.pop(2))
print("Dogs Content After:",dogs)

Dogs Content Before: ['Doberman', 'Akita', 'Corgi', 'Tibetan Mastiff']
Element Removed from Dogs: Corgi
Dogs Content After: ['Doberman', 'Akita', 'Tibetan Mastiff']

In [ ]:
#remove('element')
print("Animals Content Before:",animals)
animals.remove('Dog')
print("Animals Content After:",animals)

Animals Content Before: ['Elephant', 'Lion', 'Dog', 'Deer']
Animals Content After: ['Elephant', 'Lion', 'Deer']

In [ ]:
#Insert elements into the list using insert()
print("Animals Before:",animals)
animals.insert(2,'Elephant')
print("Animals After:",animals)

Animals Before: ['Elephant', 'Lion', 'Deer']
Animals After: ['Elephant', 'Lion', 'Elephant', 'Deer']

In [ ]:
#Count the number of occurences of an element in a list
print(animals)
print("Count of Elephant:",animals.count('Elephant'))
print("Count of Lion:",animals.count('Lion'))

['Elephant', 'Lion', 'Elephant', 'Deer']
Count of Elephant: 2
Count of Lion: 1

In [ ]:
#Sort a list - sort()
numbers=[4,1,5,2,0,0,8,2,3,-6,-4]
numbers.sort()
print(numbers)

print("Dogs Before:",dogs)
dogs.sort()
print("Dogs After:",dogs)

[-6, -4, 0, 0, 1, 2, 2, 3, 4, 5, 8]
Dogs Before: ['Doberman', 'Akita', 'Tibetan Mastiff']
Dogs After: ['Akita', 'Doberman', 'Tibetan Mastiff']

In [ ]:
#Finding the index of an element in a list - index()
print(animals)
print("Index of Lion:",animals.index('Lion'))
print("Index of Elephant:",animals.index('Elephant'))#index of first occurence

['Elephant', 'Lion', 'Elephant', 'Deer']
Index of Lion: 1
Index of Elephant: 0

In [ ]:
#Reverse a List
print("Animals Before:",animals)
animals.reverse()
print("Animals After:",animals)

Animals Before: ['Elephant', 'Lion', 'Elephant', 'Deer']
Animals After: ['Deer', 'Elephant', 'Lion', 'Elephant']

In [ ]:
#append another list to an existing list - extend()
print("Animals Before:",animals)
animals.extend(dogs)
print("Animals After:",animals)

Animals Before: ['Deer', 'Elephant', 'Lion', 'Elephant']
Animals After: ['Deer', 'Elephant', 'Lion', 'Elephant', 'Akita', 'Doberman', 'Tibetan Mastiff']

In [158]:
#Different Functions and Variables associated with List
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [159]:
len(dir([]))

46

**Lists Summary**
* \[ \]          - Create a List
* append()       - appends an element to the end
* len()          - length of the list
* pop(i)         - remove element at ith index
* pop()          - remove last element
* remove("ele")  - remove element "ele"
* insert(i,"ele")- insert element "ele" at index i
* count("ele")   - counts the number of occurences of element "ele"
* sort()         - sorts the list
* index("ele")   - returns the index of "ele" 
* reverse()      - reverses the list
* extend()       - append another list to an existing list

### **1.How will index( ) and remove ( ) behave when the element occurs more than once?**

* index( ) - index of the first occurence of the element is returned.
* remove( ) - the first occurence of the element is removed.

In [151]:
places=['zoo','airport','cafe','office','airport','bookstore']
print("Places Before:",places)
print("Index of 'airport':",places.index('airport'))
places.remove('airport')
print("Places after 'airport' is removed:",places)

Places Before: ['zoo', 'airport', 'cafe', 'office', 'airport', 'bookstore']
Index of 'airport': 1
Places after 'airport' is removed: ['zoo', 'cafe', 'office', 'airport', 'bookstore']

### **2.How to sort a list in non-increasing(or descending) order?**

* By default, elements are sorted in increasing (or ascending) order. 
* When reverse = True, the elements are sorted in decreasing (or descending) order.

In [152]:
marks=[25,50,64,31,80,41,98,23]
print("Marks Before:",marks)
marks.sort(reverse=True)
print("Marks After:",marks)

Marks Before: [25, 50, 64, 31, 80, 41, 98, 23]
Marks After: [98, 80, 64, 50, 41, 31, 25, 23]

### **Sample Exercise: Kth Smallest element**
Given an array arr[] and a number K where K is smaller than size of array, the task is to find the Kth smallest element in the given array. It is given that all array elements are distinct.
### **Solution**
In python we can solve this question using lists also. The idea is to sort the list in increasing order and then return arr[k] as the answer.

In [155]:
#Answer
def kthSmallest(arr, l, r, k):
    '''
    arr : given array
    l : starting index of the array i.e 0
    r : ending index of the array i.e size-1
    k : find kth smallest element and return using this function
    '''
    if(k>r or k<l):
        return -1
    arr.sort(reverse=False)
    return arr[k]

In [156]:
#Input 1
kthSmallest([7, 10, 4, 3, 20, 15],0,5,2)

7

In [157]:
#Input 2
arr=[7, 10, 4, 20, 15]
l=0; r=len(arr)-1; k=3;
kthSmallest(arr,l,r,k)

15